.parent {
    @apply pt-3 p-[10vw]
}

.container {
    @apply grid grid-cols-1  gap-6
    lg:grid-cols-2  lg:gap-8 
     xl:gap-10  mt-10
}

.image {
    @apply w-full
}

.info {
    @apply flex flex-col
}

.date {
    @apply flex items-center uppercase tracking-[.25em]
    text-sm
}

.iconPoint {
    @apply text-[10px] mx-3
}

.title {
    @apply text-2xl font-bold my-3
    xl:text-5xl xl:my-5
}

.type {
    @apply text-sm uppercase font-light tracking-[.1em]
    xl:text-base
}

.buttons {
    @apply flex my-5 justify-between items-center
    xl:my-10
}

.shareButton {
    @apply text-4xl cursor-pointer
}

.saveButton {
    @apply text-sm h-9 w-28 rounded-full bg-zinc-800 cursor-pointer hover:bg-zinc-600
    transition-colors text-white tracking-[.1em]
    xl:h-14 xl:w-44 xl:text-xl
  }

  .discription {
    @apply lg:mt-8 lg:text-xl xl:text-2xl
  }
  