.parent {
    @apply bg-zinc-800 h-[70vh] lg:h-[90vh] w-full relative -z-20

}
/* .content {
    @apply flex flex-col min-w-28 text-white px-3.5 py-8 top-0
    md:top-1/3 md:p-10 md:absolute 
    lg:w-1/2
} */

.content {
    @apply absolute top-0 left-0 h-full w-full flex justify-center sm:justify-start items-center px-[10vw] z-10 
}

.container {
    @apply  flex flex-col min-w-28 text-white 
    lg:w-2/3 text-center sm:text-left
}

.video {
    @apply w-full h-full object-cover
}

.title{
    @apply font-bold mb-4 block leading-snug
    lg:mb-8
}

.subtitle {
    @apply font-light
}

.paragraph {
    @apply mb-7 lg:mb-10 max-w-[70ch]
}

.button {
    @apply text-lg h-12 w-40 rounded-full bg-rose-600 m-auto cursor-pointer hover:bg-rose-700
    transition-colors
    lg:m-0
}